.forgot-password.router-body{
    text-align: center;
    position: relative;

        display: flex;
    align-items: center;
    justify-content: center;
}
.forgot-password-container{
    max-width: 500px;
    background-color: white;
    display: inline-block;



    



}